#box1 {
    width: 200px;
    height: 200px;
    background-color: hsl(189, 79%, 73%);
    position: sticky;
    top: 0px;

}

#box2 {
    width: 100px;
    height: 100px;
    background-color: hsl(128, 70%, 37%);
    position: absolute;
    top: 50px;
    left: 50px;
}