body {
    margin: 0px;
}

.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}

#box1 {
    background-color: hsl(249, 61%, 50%);
}

#box2 {
    background-color: hsl(123, 72%, 62%);
}